# This is the Student Marks Data  Analysis Project:!

In [36]:
import pandas as pd


data = {
 'Name': ['Ramiz', 'Aman', 'Neha', 'Zara', 'Rohit', 'Ali', 'Sara'],
    'Age': [21, 22, 23, 20, 24, 22, 21],
    'Course': ['Python', 'AI', 'Data Science', 'Web', 'Python', 'AI', 'Data Science'],
    'Marks': [88, 76, 95, 92, None, 67, None],
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Kolkata', 'Delhi', 'Chennai', 'Kolkata']
}
                                

df =pd.DataFrame(data)


print("The Five Rows in Data Laybari\n")


print(df.head())


# Handle missing  in Marks   and Replace NaN with mean)


df ['Marks'] =df['Marks'].fillna(df['Marks'].mean())


print("After Clening Missing   values: \n", df)



# Data Oprations: 


# Top Scorers (Marks  >= 90)


top_Student =df[df['Marks'] >= 90][['Name', 'Course', "Marks"]]


print("The Top Scorers : \n", top_Student)




young_Student =df[df["Age" ] < 22]

print("\n Students below 22 years : \n", young_Student)




# Average Marks  per course:


course_ave =df.groupby('Course')['Marks'].mean()


print("Average marks by course : \n ", course_ave)


# The Average City   by Marks :


city_ave =df.groupby('City') ['Marks'].mean()

print("Average Mark  by city : \n", city_ave)


# create a new column Grade : 


def grade(m):
    if m >= 90:
       return "A+"
    elif m >= 75:
      return "A"
    elif m >=60:
       return "B"
    else:
     return "C"



df['Grade'] = df['Marks'].apply(grade)
print("\nðŸ“Œ With Grades:\n", df)


df.to_csv("Final_Student_marks_Data_Analysis_csv", index=False)


print("\n Final Data Exported to final Student_csv:\n", df)

The Five Rows in Data Laybari

    Name  Age        Course  Marks     City
0  Ramiz   21        Python   88.0    Delhi
1   Aman   22            AI   76.0   Mumbai
2   Neha   23  Data Science   95.0    Delhi
3   Zara   20           Web   92.0  Kolkata
4  Rohit   24        Python    NaN    Delhi
After Clening Missing   values:
     Name  Age        Course  Marks     City
0  Ramiz   21        Python   88.0    Delhi
1   Aman   22            AI   76.0   Mumbai
2   Neha   23  Data Science   95.0    Delhi
3   Zara   20           Web   92.0  Kolkata
4  Rohit   24        Python   83.6    Delhi
5    Ali   22            AI   67.0  Chennai
6   Sara   21  Data Science   83.6  Kolkata
The Top Scorers :
    Name        Course  Marks
2  Neha  Data Science   95.0
3  Zara           Web   92.0

 Students below 22 years :
     Name  Age        Course  Marks     City
0  Ramiz   21        Python   88.0    Delhi
3   Zara   20           Web   92.0  Kolkata
6   Sara   21  Data Science   83.6  Kolkata
Average marks by course :
  Course
AI              71.5
Data Science    89.3
Python          85.8
Web             92.0
Name: Marks, dtype: float64
Average Mark  by city :
 City
Chennai    67.000000
Delhi      88.866667
Kolkata    87.800000
Mumbai     76.000000
Name: Marks, dtype: float64

ðŸ“Œ With Grades:
     Name  Age        Course  Marks     City Grade
0  Ramiz   21        Python   88.0    Delhi     A
1   Aman   22            AI   76.0   Mumbai     A
2   Neha   23  Data Science   95.0    Delhi    A+
3   Zara   20           Web   92.0  Kolkata    A+
4  Rohit   24        Python   83.6    Delhi     A
5    Ali   22            AI   67.0  Chennai     B
6   Sara   21  Data Science   83.6  Kolkata     A

 Final Data Exported to final Student_csv:
     Name  Age        Course  Marks     City Grade
0  Ramiz   21        Python   88.0    Delhi     A
1   Aman   22            AI   76.0   Mumbai     A
2   Neha   23  Data Science   95.0    Delhi    A+
3   Zara   20           Web   92.0  Kolkata    A+
4  Rohit   24        Python   83.6    Delhi     A
5    Ali   22            AI   67.0  Chennai     B
6   Sara   21  Data Science   83.6  Kolkata     A